<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ShrinkMyIssues.App">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAlp2KTBozgcrNLDLHLrc5ATOIH-nUk0fw" />

        <activity android:name=".Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Login_activity"
            android:screenOrientation="portrait"/>

        <activity android:name="registration_both.Registration_type"
            android:screenOrientation="portrait"/>

        <activity android:name="registration_both.Registartion_info"
            android:screenOrientation="portrait"/>

       <activity android:name="registration_both.Personal_info"
          android:screenOrientation="portrait"/>

        <activity android:name="registration_both.Pro_personal_details"
            android:screenOrientation="portrait"/>

        <activity android:name="registration_both.Pro_Specialise_area"
            android:screenOrientation="portrait"/>

        <activity android:name="registration_both.Pro_Specialise_other"
            android:screenOrientation="portrait"/>

        <activity android:name="registration_both.Pro_insurance_plan"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name="registration_both.Card_details"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".Terms_Conditions"
            android:screenOrientation="portrait"/>

        <activity android:name=".Privacy_Policy"
            android:screenOrientation="portrait"/>

        <activity android:name=".Address_location_get"
            android:screenOrientation="portrait"/>

        <activity android:name=".Client_dash_board"
            android:screenOrientation="portrait"/>

        <activity android:name=".Pro_dash_board"
            android:screenOrientation="portrait"/>

        <activity android:name=".Dashboard_all_functionality"
            android:screenOrientation="portrait"/>

    </application>
</manifest>